*{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}

.window{
	width: 400px;
	height: 300px;
	margin: 100px auto;
	overflow: hidden;
}
.imgs{
	display: flex;
	transition: all 1s;
}
.imgs > img{
	width: 100%;
	flex-shrink:0;
}
#controls{
	text-align: center;
}
#controls button{
	padding: 5px;
	border-radius: 5px;
}

#btnWrapper{
	margin-bottom: 20px;
}
#btnWrapper button{
	border-radius: 50%;
	width: 20px;
	height: 20px;
}