*{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
}
.window{
	width: 400px;
	height: 300px;
	margin: 20px auto;
	/*border: 10px solid red;*/
	overflow: hidden;
}
.imgs{
	display: flex;
	transition: all 1s;
}
.imgs > img{
	width: 100%;
	flex-shrink:0;
}
#controls{
	text-align: center;
}